pandas
numpy
torch
torchvision 
torchaudio
transformers
transformers[torch]
nltk
matplotlib
seaborn
scikit-learn
textblob
textstat
evaluate
rouge_score
sentence-transformers
bert_score
sentencepiece
tensorboard